body {
    background-color: palevioletred;
    background-image: url('Bilder/film.jpg');
    background: url('Bilder/film.jpg') no-repeat center center fixed; 
    background-size: cover;
}

form {
    background-color: gold;
    width: 170px;
}

input {
    height: 25px;
}