body {
    background-color: gray;
    background-image: url('Bilder/database.webp');
    background: url('Bilder/database.webp') no-repeat center center fixed; 
    background-size: cover;
}

h1 {
    padding: 10px;
    border-style: solid;
    background-color: aliceblue;
    width: 215px;
}

ul a {
    display: block; /* gjør om lenker til block */
    width: 120px; /* bredde på boks */
    padding: 10px; /*avstand mellom bokskant og innhold */
    border-radius: 5px; /* avrunder kant */
    margin: 2px; /* avstand mellom bokser */
    color: #333333; /* svart tekst
    font-weight: bold; /* fet tekst */
    text-decoration: none; /* fjerner understrek */
    background-color: gold; /* gold */
}